.menu {
    background-color: blue;
}

.menu a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

.menu ul {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.interacoes ul{
    list-style: none;
}

#titulo-principal {
    font-size: 30px;
    ;
    font-family: Arial, Helvetica, sans-serif;
}